<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>

<body>
	<div class="full">
		<div class="left">
			
			<div class="Contact">
				<h2>Contact</h2>
				<p><b>Email id:</b>sravanigajula99@gmail.com</p>
				<p><b>Mobile no :</b>8374528457</p>
			</div>
			<div class="Skills">
				<h2>Skills</h2>
				<ul>
					<li><b>Programming Languages :
					Python</b></li>
					<li><b>Frontend : Basic HTML& CSS
					</b></li>
					<li><b>Basic Selenium,Xpath,pytest,Sotware Testing</b></li>
				</ul>
			</div>
			<div class=INTERESTS>
				<h2>Interests</h2>
				<ul>
					<li>Watching pyscological Movies</li>
					<li>Solving puzzles</li>
					
				</ul>
			</div>
			<div class="Hobbies">
				<h2>Hobbies</h2>
				<ul>
					<li>Playing Badminton</li>
					<li>Dancing</li>
				</ul>
			</div>
		</div>
		<div class="right">
			<div class="name">
				<h1>Sravani Gajula</h1>
			</div>
			<div class="title">
				<p>Intern at Qxf2 Services</p>
			</div>
			<div class="Summary">
				<h2>Summary</h2>
				<p>To secure a challenging position in a
				reputable organization
					to expand my learning knowledge and skill
				</p>
			</div>
			<div class="Experience">
				<h2>Experience</h2>
				<h3>Qxf2 Services - Intern</h3>
				<p>December 2022 to Present</p>
				<ul>
					<li>As a intern I Have learnt 
					python,Basics of Software Testing</li>
					<li>pytest,xpath,HTML&CSS,Selenium</li>
				</ul>
				
			</div>
			<div class="Education">
				<h2>Education</h2>
				<table>
					<tr>
						<th>College name </th>
						<th>Passing year </th>
						<th>percentage/CGPA</th>
					</tr>
					<tr>
						<td>mLAC</td>
						<td>2022</td>
						<td>89%</td>
					</tr>
					<tr>
						<td>Sri Chaitanya college</td>
						<td>2018</td>
						<td>9.8</td>
					</tr>
				</table>
			</div>
			<div class="project">
				<ul>
					<li>
						<h2>Project</h2>
						<p>Qxf2 Services

						</p>
					</li>
	
				</ul>
			</div>
		</div>
	</div>
</body>

</html>
